.main-title {
    color: #603809;
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    
}

.main-title.-white-title {
    color: #fff;
}

.subtitle {
    font-size: 20px;
    line-height: 34px;
}

.title-logo {
    font-family: "ClickerScript";
    font-size: 54px;
    line-height: 71px;
}

@media (max-width: 767px) {
    .main-title {
        font-size: 45px;
        line-height: 55px;
    }
}